{{define "addAd"}}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-plus"></span> Ajout
        </div>
        <div class="panel-body">
            <h4 class="text-center col-lg-12" >
                <a href="#formAddOneAd" role="button" data-toggle="collapse"
                   aria-expanded="true" aria-controls="formAddOneAd">
                    Ajouter une publicité
                </a>
            </h4>
            <form action="/addAd" method="post"  class="form-horizontal" >
                <div id="formAddOneAd" class="collapse">
                    <div class="form-group form-group-sm">
                        <label for="inputTitre" class="col-lg-2">Titre</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control " name="inputTitre" id="inputTitre" placeholder="Titre" required>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="inputPrix"  class="col-lg-2">Prix</label>
                        <div class="col-lg-10">
                        <input type="number" class="form-control" name="inputPrix" id="inputPrix" placeholder="Prix" required>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="inputDate"  class="col-lg-2">Date</label>
                        <div class="col-lg-10">
                            <input type="date" class="form-control" name="inputDate" id="inputDate" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-sm col-lg-12">Ajouter</button>
                </div>
            </form>

        <hr />
            <h4 class="text-center col-lg-12" >
                <a href="#formAddMultipleAd" role="button" data-toggle="collapse"
                   aria-expanded="false" aria-controls="formAddMultipleAd">
                    Ajouter plusieurs publicités
                </a>
            </h4>
            <form action="/addMultipleAd" method="post"  class="form-horizontal">
                <div id="formAddMultipleAd" class="collapse">
                    <div class="form-group form-group-sm">
                        <label for="nbAd" class="col-lg-3">Nombre </label>
                        <div class="col-lg-9">
                            <input type="number" class="form-control" name="nbAd" id="nbAd" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-sm col-lg-12">Ajouter</button>
                </div>
            </form>
        </div>
    </div>
{{end}}
