{{define "indexPage"}}
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>TLC PROJ 1</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        </script><script src="https://code.jquery.com/jquery-2.2.0.min.js" ></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script type="text/javascript">
            function clearFilter(){
                window.location = "/";
            }

            function toogleInputDate(elt) {
                if (elt.id === "optionFiltreDate4" && elt.checked){
                    document.getElementById("inputSearchDateDiv") .style.display = 'none';
                    document.getElementById("inputSearchDateBeginDiv") .style.display = 'block';
                    document.getElementById("inputSearchDateEndDiv") .style.display = 'block';
                }
                else{
                    document.getElementById("inputSearchDateDiv") .style.display = 'block';
                    document.getElementById("inputSearchDateBeginDiv") .style.display = 'none';
                    document.getElementById("inputSearchDateEndDiv") .style.display = 'none';
                }
            }
            function toogleInputPrix(elt) {
                if (elt.id === "optionFiltrePrix4" && elt.checked){
                    document.getElementById("inputSearchPrixDiv") .style.display = 'none';
                    document.getElementById("inputSearchPrixBeginDiv") .style.display = 'block';
                    document.getElementById("inputSearchPrixEndDiv") .style.display = 'block';
                }
                else{
                    document.getElementById("inputSearchPrixDiv") .style.display = 'block';
                    document.getElementById("inputSearchPrixBeginDiv") .style.display = 'none';
                    document.getElementById("inputSearchPrixEndDiv") .style.display = 'none';
                }
            }

        </script>
    </head>
    <body>
    <div class="container-fluid">
        <div class="row text-center">
            <h1>TLC projet 1</h1>
            <hr/>
        </div>
        <div class="row">

                <div class="col-lg-3">
                    {{template "addAd"}}
                </div>

                <div class="col-lg-6 container-fluid">
                    {{template "listAd" .}}
                </div>

                <div class="col-lg-3 ">
                    {{template "searchAd" .}}
                </div>
            </div>
        </div>
    </body>
    </html>
{{end}}
