{{define "listAd"}}
<div class="row">
    <form  action="/clearAllAd" class="pull-left" method="post">
        <button type="submit" class="btn btn-danger btn-sm">Supprimer toute les publicitées</button>
    </form>
</div>

<div class="list-group row ">
    {{range .Models}}
        <div class="list-group-item container-fluid">
            <form action="/removeAd" method="post">
                <h4 class="list-group-item-heading contrainer-fluid ">
                    <span class="pull-left col-lg-5">
                        {{.Title}}
                        <small >
                            {{.Date}}
                        </small>
                    </span>
                    <span class="pull-left" style="position: absolute"><strong>Prix : </strong>{{.Price}} €</span>
                    <button type="submit" class="btn btn-danger btn-sm pull-right"><span class="glyphicon glyphicon-remove"></span></button>
                </h4>

                <input type="hidden" name="id" value="{{.Id}}"/>
            </form>
        </div>
    {{end}}
</div>
{{end}}
