{{define "searchAd"}}

<form action="/searchAd" class="form-horizontal" method="post">
    <div class="container-fluid row">
        <h3 class="glyphicon glyphicon-filter text-center col-lg-12">Filtres</h3>

    </div>
    <div class="container-fluid row">
        <button type="submit" class="btn btn-primary btn-sm pull-left">Filtrer</button>
        <button type="button" onclick="clearFilter()" class="btn btn-danger btn-sm pull-right">Clear Filter</button>
    </div>
    <hr />
    <div class="panel panel-primary container-fuild">
        <div class="panel-heading">
            Titre
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="inputSearchTitre" class="col-lg-2 sr-only">Titre</label>
                <div class="col-lg-12">
                <input type="text" class="form-control" id="inputSearchTitre"
                       name="inputSearchTitre" placeholder="Titre"
                       value="{{.DataSearchTitre}}">
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary container-fuild">
        <div class="panel-heading">
            Prix
        </div>
        <div class="panel-body">
            <div class="form-group container-fluid">
                    <label class="radio-inline">
                        <input type="radio" name="optionFiltrePrix" id="optionFiltrePrix1" onclick="toogleInputPrix(this)"  value="egal"> Egal
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optionFiltrePrix" id="optionFiltrePrix2" onclick="toogleInputPrix(this)" value="plus"> Plus
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optionFiltrePrix" id="optionFiltrePrix3" onclick="toogleInputPrix(this)" value="moins"> Moins
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optionFiltrePrix" id="optionFiltrePrix4" onclick="toogleInputPrix(this)" value="interval"> Interval
                    </label>
            </div>
            <div class="form-group"  id="inputSearchPrixDiv" >
                <label for="inputSearchPrix" class="col-lg-2 sr-only">Prix</label>
                <div class="col-lg-12">
                    <input type="number" class="form-control" id="inputSearchPrix"
                           name="inputSearchPrix" placeholder="Prix"
                           value="{{.DataSearchPrice}}">
                </div>
            </div>
            <div class="form-group " id="inputSearchPrixBeginDiv" style="display: none">
                <label for="inputSearchPrixBegin" class="col-lg-2">Debut</label>
                <div class="col-lg-10">
                    <input type="number" class="form-control" id="inputSearchPrixBegin"
                           name="inputSearchDateBegin"
                           value="{{.DataSearchPriceBegin}}">
                </div>
            </div>
            <div class="form-group" id="inputSearchPrixEndDiv" style="display: none">
                <label for="inputSearchPrixEnd" class="col-lg-2">Fin</label>
                <div class="col-lg-10">
                    <input type="number" class="form-control" id="inputSearchPrixEnd"
                           name="inputSearchDateEnd"
                           value="{{.DataSearchPriceEnd}}">
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary container-fuild">
        <div class="panel-heading">
            Date
        </div>
        <div class="panel-body">
            <div class="form-group container-fluid">
                <label class="radio-inline">
                    <input type="radio" name="optionFiltreDate" id="optionFiltreDate1" onclick="toogleInputDate(this)" value="egal"> Egal
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optionFiltreDate" id="optionFiltreDate2" onclick="toogleInputDate(this)" value="avant"> Avant
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optionFiltreDate" id="optionFiltreDate3" onclick="toogleInputDate(this)" value="apres"> Aprés
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optionFiltreDate" id="optionFiltreDate4" onclick="toogleInputDate(this)" value="interval"> Interval
                </label>
            </div>
            <div class="form-group" id="inputSearchDateDiv" >
                <label for="inputSearchDate" class="sr-only">Date</label>
                <div class="col-lg-12">
                    <input type="Date" class="form-control" id="inputSearchDate"
                           name="inputSearchDate"
                           value="{{.DataSearchDate}}">
                </div>
            </div>
            <div class="form-group " id="inputSearchDateBeginDiv" style="display: none">
                <label for="inputSearchDateBegin" class="col-lg-2">Debut</label>
                <div class="col-lg-10">
                    <input type="Date" class="form-control" id="inputSearchDateBegin"
                           name="inputSearchDateBegin"
                           value="{{.DataSearchDateBegin}}">
                </div>
            </div>
            <div class="form-group" id="inputSearchDateEndDiv" style="display: none">
                <label for="inputSearchDateEnd" class="col-lg-2">Fin</label>
                <div class="col-lg-10">
                    <input type="Date" class="form-control" id="inputSearchDateEnd"
                           name="inputSearchDateEnd"
                           value="{{.DataSearchDateEnd}}">
                </div>
            </div>
        </div>
    </div>
</form>
{{end}}
